@use "./variables";
@use "./mixin";

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return variables.$primary-black;
  } @else {
    @return variables.$primary-white;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", serif;
  background-color: variables.$secondary-silver;
  color: set-text-color(variables.$primary-black);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
  color: variables.$primary-silver;
  margin: variables.$pm-base;

  &:hover {
    cursor: pointer;
    color: variables.$primary-blue;
    @include mixin.easeOut;
  }
  @include mixin.desktop {
    height: 2rem;
    width: 2rem;
  }
}
