@use "./variables";
@use "./mixin";

* {
  margin: 0;
  box-sizing: border-box;
}

@function set-text-color($colour) {
  @if (lightness($color) > 40) {
    @return variables.$primary-black;
  } @else {
    @return variables.$primary-white;
  }
}

body {
  font-family: "Avenir", serif;
  background-color: variables.$primary-black;
  color: variables.$primary-white;
  // color: set-text-color(variables.$primary-black);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
  color: variables.$primary-silver;
  margin: variables.$pm-base;

  &:hover {
    cursor: pointer;
    color: variables.$primary-blue;
    @include mixin.easeOut;
  }
  @include mixin.desktop {
    height: 2rem;
    width: 2rem;
  }
}

.footer {
  width: 100%;
  // position: absolute;
  //bottom: 0;
  // left: 0;
  padding: variables.$pm-base * 4;
  height: 3.125rem;
  background: rgba(
    lighten($color: variables.$secondary-black, $amount: 2),
    0.5
  );
  @include mixin.flexbox(row, space-between, center);
  @include mixin.tablet {
    padding: variables.$pm-base * 9;
  }

  &__brand {
    color: variables.$primary-silver;
  }

  &__CV {
    color: variables.$primary-silver;
    &:hover {
      cursor: pointer;
      color: variables.$primary-blue;
      @include mixin.easeOut;
    }
  }

  &__items {
    width: 40%;
    @include mixin.flexbox(row, space-around, center);
    @include mixin.tablet {
      width: 30%;
    }
  }
}
