@use "./variables";

@mixin flexbox(
  $direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin heroBackground {
  @if variables.$show-home-image {
    &.container {
      background-image: variables.$home-image;
      background-repeat: no-repeat;
      background-size: cover;
      /*   &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(
          variables.$primary-black,
          variables.$background-opacity
        );
      } */
    }
  }
}

@function set-text-color($colour) {
  @if (lightness($color) > 40) {
    @return variables.$primary-black;
  } @else {
    @return variables.$primary-white;
  }
}
// font for desktop and tablet

@mixin header {
  font-weight: 700;
  line-height: 5rem;
  font-size: 2.25rem;
}

@mixin subheader {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.5rem;
}

@mixin text {
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
}

//font for tablet
@mixin tablet-header {
  font-weight: 700;
  line-height: 5rem;
  font-size: 1.8rem;
}

@mixin tablet-subheader {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.2rem;
}

@mixin tablet-text {
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
}

// font for mobile
@mixin mobil-header {
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

@mixin mobil-subheader {
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1rem;
  letter-spacing: 0.01rem;
}

@mixin mobil-text {
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
}

// responsive
@mixin desktop {
  @media (min-width: variables.$desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: variables.$tablet) {
    @content;
  }
}
