$primary-black: #353535;
$primary-silver: #afafaf;
$primary-blue: rgb(92, 174, 252);
$primary-white: #ffffff;

$secondary-blue: rgb(211, 241, 250);
$secondary-dark-blue: rgb(16, 130, 236);
$secondary-black: #000000;
$secondary-silver: #f4ebeb;

$desktop: 80rem;
$tablet: 48rem;

$pm-base: 0.25rem; //   mobile min 4; tablet min 9

$show-home-image: true;
$background-opacity: 0.9;
$dark-image: url("../../assets/images/bg.jpg");
$cloud-image: url("../../assets/images/cloud.jpg");
