@use "./partials/mixin";
@use "./partials/variables";
@use "./partials/global";

.container {
  width: 100%;
  height: 100vh;
  @include mixin.heroBackground;
}

.header {
  width: 100%;
  height: 3.125rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(lighten($color: variables.$primary-black, $amount: 2), 0.5);
  @include mixin.flexbox(row, space-between, center);
  color: variables.$primary-silver;
  padding: variables.$pm-base * 4;
  @include mixin.tablet {
    padding: variables.$pm-base * 9;
  }
}

.nav {
  width: 55%;
  @include mixin.tablet {
    width: 30%;
  }
  @include mixin.desktop {
    width: 20%;
  }

  &__items {
    width: 100%;
    @include mixin.flexbox(row, space-between, center);
  }

  &__item {
    @include mixin.mobil-subheader;
    @include mixin.tablet {
      @include mixin.tablet-subheader;
    }
    @include mixin.desktop {
      @include mixin.subheader;
    }
    &:hover {
      cursor: pointer;
      color: variables.$primary-blue;
      @include mixin.easeOut;
    }
  }
}

.about {
  width: 100%;
  // height: 100vh;
  margin-top: 18%;
  @include mixin.flexbox(column, center, center);
  padding: variables.$pm-base * 4;
  @include mixin.tablet {
    padding: variables.$pm-base * 9;
    margin-top: 10%;
  }
  @include mixin.desktop {
    padding: variables.$pm-base * 21 variables.$pm-base * 9;
    margin-top: 5%;
  }

  &__headlines {
    width: 100%;
  }

  &__title {
    @include mixin.mobil-header;
    @include mixin.tablet {
      @include mixin.tablet-header;
    }
    @include mixin.desktop {
      @include mixin.header;
    }
    margin-bottom: variables.$pm-base * 4;
  }

  &__brief {
    margin-left: variables.$pm-base * 12;
    @include mixin.mobil-subheader;
    @include mixin.tablet {
      @include mixin.tablet-header;
    }
    margin-bottom: variables.$pm-base * 4;
  }

  &__intro {
    padding: variables.$pm-base * 6 variables.$pm-base * 4;
    background: rgba(
      lighten($color: variables.$primary-black, $amount: 2),
      0.5
    );
    @include mixin.mobil-text;
    @include mixin.tablet {
      margin-top: variables.$pm-base * 4;
      @include mixin.tablet-text;
    }
    @include mixin.desktop {
      @include mixin.text;
    }
  }
}

.secondary-color {
  color: variables.$primary-blue;
  font-size: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
