* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", serif;
  background-color: #f4ebeb;
  color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
  color: #afafaf;
  margin: 0.25rem;
}
svg:hover {
  cursor: pointer;
  color: #5caefc;
  transition: all 0.5s ease-out;
}
@media (min-width: 80rem) {
  svg {
    height: 2rem;
    width: 2rem;
  }
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container.container {
  background-image: url("../../assets/images/plane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*   &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(
      variables.$primary-black,
      variables.$background-opacity
    );
  } */
}

.cloud.container {
  background-image: url("../../assets/images/cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(58, 58, 58, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #afafaf;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .header {
    padding: 2.25rem;
  }
}

/* .light-blue {
  background: rgba(
    lighten($color: variables.$secondary-dark-blue, $amount: 2),
    0.9
  );
} */
.nav {
  width: 55%;
}
@media (min-width: 48rem) {
  .nav {
    width: 30%;
  }
}
@media (min-width: 80rem) {
  .nav {
    width: 20%;
  }
}
.nav__items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1rem;
  letter-spacing: 0.01rem;
}
@media (min-width: 48rem) {
  .nav__item {
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 80rem) {
  .nav__item {
    font-weight: 600;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
.nav__item:hover {
  cursor: pointer;
  color: #5caefc;
  transition: all 0.5s ease-out;
}

.about {
  width: 100%;
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .about {
    padding: 2.25rem;
    margin-top: 10%;
  }
}
@media (min-width: 80rem) {
  .about {
    padding: 5.25rem 2.25rem;
    margin-top: 5%;
  }
}
.about__headlines {
  width: 100%;
}
.about__title {
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__title {
    font-weight: 700;
    line-height: 5rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 80rem) {
  .about__title {
    font-weight: 700;
    line-height: 5rem;
    font-size: 2.25rem;
  }
}
.about__brief {
  margin-left: 3rem;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  margin-bottom: 1rem;
}
@media (min-width: 48rem) {
  .about__brief {
    font-weight: 700;
    line-height: 5rem;
    font-size: 1.8rem;
  }
}
.about__intro {
  padding: 1rem;
  background: rgba(58, 58, 58, 0.5);
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.813rem;
}
@media (min-width: 48rem) {
  .about__intro {
    margin-top: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1rem;
  }
}
@media (min-width: 80rem) {
  .about__intro {
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1rem;
  }
}

.secondary-color {
  color: #5caefc;
  font-size: inherit;
}

.copyright {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(58, 58, 58, 0.5);
  padding: 0.5rem 0;
}

.theme-toggle-button {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.7em;
  border: transparent;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: 10px;
}

.theme-toggle-button:hover {
  border: 1px solid #5caefc;
  box-shadow: 0 2px 8px rgba(180, 232, 248, 0.482);
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.toggle-icon {
  color: #353535;
}/*# sourceMappingURL=home.css.map */