@use "./partials/mixin";
@use "./partials/variables";
@use "./partials/global";

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  //background-image: linear-gradient(to right, #434343 0%, black 100%);
  //  background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%);
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.header {
  width: 100%;
  height: 3.125rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(
    lighten($color: variables.$secondary-black, $amount: 2),
    0.5
  );
  @include mixin.flexbox(row, space-between, center);
  color: variables.$primary-silver;
  padding: variables.$pm-base * 4;
  @include mixin.tablet {
    padding: variables.$pm-base * 9;
  }
}

.nav {
  width: 50%;
  @include mixin.tablet {
    width: 30%;
  }
  @include mixin.desktop {
    width: 20%;
  }

  &__items {
    width: 100%;
    @include mixin.flexbox(row, space-between, center);
  }

  &__item {
    @include mixin.mobil-subheader;
    @include mixin.tablet {
      @include mixin.tablet-subheader;
    }
    @include mixin.desktop {
      @include mixin.subheader;
    }
    &:hover {
      cursor: pointer;
      color: variables.$primary-blue;
      @include mixin.easeOut;
    }
  }
}

.projects {
  width: 100%;
  padding: variables.$pm-base * 4;
  padding-top: 15%;
  margin-bottom: 5%;
  @include mixin.tablet {
    padding: variables.$pm-base * 9;
    padding-top: 10%;
  }

  &__title {
    @include mixin.mobil-header;
    @include mixin.desktop {
      @include mixin.header;
    }
  }
}

.project {
  @include mixin.flexbox(column, center, center);
  flex-wrap: wrap;
  width: 100%;
  @include mixin.tablet {
    @include mixin.flexbox(row, space-between, center);
  }

  &__card {
    width: 100%;
    padding-bottom: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(
      lighten($color: variables.$secondary-black, $amount: 2),
      0.5
    );
    border-bottom: 3px solid variables.$primary-blue;
    margin: variables.$pm-base * 6 0;
    @include mixin.tablet {
      width: 48%;
    }
    @include mixin.desktop {
      width: 30%;
    }

    &:hover {
      cursor: pointer;
      background: lighten($color: variables.$primary-black, $amount: 5);
      border-bottom: 3px solid variables.$secondary-blue;
      position: relative;
      top: 1px;
      @include mixin.easeOut;
    }
  }

  &__image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__info {
    width: 100%;
    padding: variables.$pm-base * 2;
  }

  &__name {
    color: variables.$primary-white;
    @include mixin.mobil-header;
    @include mixin.desktop {
      @include mixin.subheader;
    }
  }

  &__intro {
    color: variables.$primary-silver;
    @include mixin.mobil-text;
    @include mixin.desktop {
      @include mixin.text;
    }
  }

  &__description {
    color: variables.$primary-silver;
    @include mixin.mobil-subheader;
    @include mixin.desktop {
      @include mixin.text;
      font-weight: 700;
    }
  }
}
